code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* ================================================================= */
.mainForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
  padding: 0px 16px;

  max-width: 100%;
  width: 500px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: 100%;
  width: 500px;

  color: #14063a;
  text-shadow: 0 1px 1px #fff;
}

.labelWrapper {
  display: flex;
  gap: 8px;
  margin-left: 8px;
}

.btnForm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  max-width: 100%;

  border: none;
  outline: none;
  border-radius: 8px;

  box-shadow: rgb(0 0 0 / 24%) 3px 3px 3px 0px;
  transition: all 0.2s ease-in-out;

  background-color: #362f92;
  color: #fff;
  cursor: pointer;
}
.btnForm:hover,
.btnForm:focus {
  background-color: #b1c5df;
  color: #12534e;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #8ba3a7;
}
.btnForm:hover.svg,
.btnForm:focus.svg {
  fill: #12534e;
  stroke: #12534e;
}
